footer {
    margin: 50px 0 0 0 !important;
    padding: 80px 0 120px 0 !important;
    position: relative;
}

body.dark footer {
    background-color: var(--color-dark-light) !important;
}

body.dark footer * {
    color: var(--color-light) !important;
}

footer::before {
    background-attachment: fixed;
    background-image: url(../img/backgrounds/beach-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    filter: grayscale(70%);
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    width: 100%;
}

/* #region Links */

footer div.community-link-label {
    text-transform: capitalize !important;
}

/* #endregion */

/* #region About */

div#about {
    padding-right: 100px !important;
    text-align: justify;
}

/* #endregion */

/* #region Trademark */

div.trademark {
    background-color: transparent !important;
    border: none !important;
    bottom: 0;
    left: 0;
    position: absolute !important;
    text-align: center;
    width: 100%;
}

body.dark div.trademark a {
    color: var(--color-gray) !important;
}

/* #endregion */