/* #region ScrollTop */

div#scroll-top {
    animation-duration: .3s;
    animation-name: scroll-top-reveal;
    bottom: 50px;
    cursor: pointer;
    display: none;
    opacity: .1;
    position: fixed;
    right: 50px;
    transition-duration: .3s;
    transition-property: opacity;
    z-index: 10;
}

div#scroll-top:hover {
    opacity: .6 !important;
}

@keyframes scroll-top-reveal {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 50px;
        opacity: .1;
    }
}

/* #endregion */

/* #region Discord section */

div.discord-section {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

div.discord-section iframe {
    width: 100%;
}

/* #endregion */