body {
    overflow: hidden;
    position: relative;
}

body::before {
    background-image: url('../img/backgrounds/beach-bg.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    content: "";
    left: 0;
    height: 120%;
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%;
}

section {
    margin: 50px 0 !important;
    position: relative;
}

/* #region Gallery */

div#gallery {
    height: 100% !important;
}

div#gallery-carousel {
    height: 408px !important;
}

div#gallery-carousel img {
    cursor: w-resize;
    filter: grayscale(70%);
    height: 400px !important;
    transition-duration: .5s;
    transition-property: filter;
}

div#gallery-carousel img:hover {
    filter: grayscale(0%);
} 

/* #endregion */

/* #region Intro */

section#intro img {
    width: 180px;
    transform: rotateY(180deg);
}

/* #endregion */

/* #region ScrollTop */

div#scroll-top {
    animation-duration: .3s;
    animation-name: scroll-top-reveal;
    bottom: 50px;
    cursor: pointer;
    display: none;
    opacity: .1;
    position: fixed;
    right: 50px;
    transition-duration: .3s;
    transition-property: opacity;
    z-index: 10;
}

div#scroll-top:hover {
    opacity: .6 !important;
}

@keyframes scroll-top-reveal {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 50px;
        opacity: .1;
    }
}

/* #endregion */

/* #region Live stats */

div#live-stats {
    height: 430px !important;
}

div#live-stats section > div.segment {
    height: 362px !important;
}

div#live-stats section div.segment > div {
    height: 97.3%;
}


div#server-live-stats.offline table, section#players-stats.offline div.content {
    display: none;
}

div#server-live-stats.offline div.server-offline, section#players-stats.offline div.server-offline {
    display: flex;
}

div#server-live-stats + div img {
    bottom: -1px;
    position: absolute;
    right: -25px;
    width: 320px;
}

div.server-offline {
    align-items: center;
    color: gray;
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

div.server-offline i {
    margin-bottom: 20px;
}

div#players-live-stats {
    height: 235px !important;
    margin-top: 0 !important;
    overflow-y: auto !important;
}

span#player-count {
    color: gray;
    float: right;
}

/* #endregion */

/* #region Discord section */

div.discord-section {
    border: none !important;
    padding: 0 !important;
}

div.discord-section iframe {
    width: 100%;
}

/* #endregion */